<template>
<section id="FinishKecermatanPage">
    <div class="container py-5">
        <div class="row py-5 text-center d-flex flex-column justify-content-center align-items-center">
            <figure id="illustrationStart">
                <img src="asset/img/logo-gan.png" alt="" class="w-100 h-100 img-fit-cover">
            </figure>
            <br>
            <br>
            <h1 class="text-gan mpa-h1">Selamat Kamu Telah Menyelesaikan Test</h1>
            <h3>Test Kecermatan Garuda Abdi Negara</h3>
                <br>
            <span></span>
        </div>
    </div>
</section>
</template>

<style scoped lang="scss">
    #illustrationStart{
        width: 30%;
        // height: 400px;
    }
    .text-gan{
        color: #833030;
    }
</style>

<script>
    // @ is an alias to /src
    // import HelloWorld from '@/components/HelloWorld.vue'

    export default {
        name: 'FinishKecermatan',
        //   components: {
        //     HelloWorld
        //   }
    }
</script>