<template>
    <StartKecermatanComponent/>
</template>

<script>
    // @ is an alias to /src
import StartKecermatanComponent from "../../components/StartKecermatanComponent.vue"
    export default {
        name: 'StartKecermatan',
        components: {
    StartKecermatanComponent
},
        data() {
            return {
                text: "Ini adalah sebuah text"
            }
        }
    }
</script>