<template>
<SidebarGanComponent>
    <TestKecermatanComponent/>
</SidebarGanComponent>   
</template>

<script>
    // @ is an alias to /src
import TestKecermatanComponent from "../../components/TestKecermatanComponent.vue"
import SidebarGanComponent from "../../components/SidebarGanComponent.vue"
    export default {
        name: 'TestKecermatan',
        components: {
    TestKecermatanComponent,
    SidebarGanComponent
},
        data() {
            return {
                text: "Ini adalah sebuah text"
            }
        }
    }
</script>