<template>
    <section id="StartKecermatanPage">
        <div class="container py-5">
            <div class="row">
                <div class="col-12">
                    <h1 class="gan-text-heading text-gan">Test Psikotest</h1>
                </div>
                <div class="col-12 col-md-8">
                    <div class="p-3 border rounded subtitle-badge fw-bold mb-3">Kecermatan</div>
                    <div class="p-3 border mb-3 rounded">Waktu Pengerjaan <span id="time" class="fw-bold mb-2">05:00</span></div>
                    <div class="question">
                        <table class="table-bordered" style="border-collapse: collapse; width: 40%; height: 200px;" border="1">
                            <tbody>
                                <tr>
                                    <td style="width: 19.9416%; text-align: center;"><strong><span
                                                style="font-size: 18pt;">W</span></strong></td>
                                    <td style="width: 19.9416%; text-align: center;"><strong><span
                                                style="font-size: 18pt;">L</span></strong></td>
                                    <td style="width: 19.9416%; text-align: center;"><strong><span
                                                style="font-size: 18pt;">K</span></strong></td>
                                    <td style="width: 19.9416%; text-align: center;"><strong><span
                                                style="font-size: 18pt;">A</span></strong></td>
                                    <td style="width: 19.9416%; text-align: center;"><strong><span
                                                style="font-size: 18pt;">Z</span></strong></td>
                                </tr>
                                <tr>
                                    <td style="width: 19.9416%; text-align: center;"><span
                                            style="font-size: 18pt;">A</span></td>
                                    <td style="width: 20.0146%; text-align: center;"><span
                                            style="font-size: 18pt;">B</span></td>
                                    <td style="width: 20.0146%; text-align: center;"><span
                                            style="font-size: 18pt;">C</span></td>
                                    <td style="width: 20.0146%; text-align: center;"><span
                                            style="font-size: 18pt;">D</span></td>
                                    <td style="width: 20.0146%; text-align: center;"><span
                                            style="font-size: 18pt;">E</span></td>
                                </tr>
                            </tbody>
                        </table> <br>
                        <table class="table-bordered" style="border-collapse: collapse; width: 40%; height: 200px;" border="1">
                            <tbody>
                                <tr>
                                    <td style="width: 19.9416%; text-align: center;"><span
                                            style="font-size: 18pt;">Z</span></td>
                                    <td style="width: 19.9416%; text-align: center;"><span
                                            style="font-size: 18pt;">W</span></td>
                                    <td style="width: 19.9416%; text-align: center;"><span
                                            style="font-size: 18pt;">A</span></td>
                                    <td style="width: 19.9416%; text-align: center;"><span
                                            style="font-size: 18pt;">K</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <form action="" method="get">
                        <table class="table table-borderless my-3">
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="option[0]" id="optionA">
                                            <label class="form-check-label" for="optionA">
                                                A
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="option[0]" id="optionB">
                                            <label class="form-check-label" for="optionB">
                                                B
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="option[0]" id="optionC">
                                            <label class="form-check-label" for="optionC">
                                                C
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="option[0]" id="optionD">
                                            <label class="form-check-label" for="optionD">
                                                D
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="option[0]" id="optionE">
                                            <label class="form-check-label" for="optionE">
                                                E
                                            </label>
                                        </div>
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
                <div class="col-12 col-md-4">
                    <div class="p-3 border rounded-md panel-question">
                        <h5 class="fw-bold">Soal</h5>
                        <div v-for="index in 10" :key="index" class="row">
                            <div v-for="key in 5" :key="key" class="col p-1">
                                <div class="border rounded text-center btn-outline-danger p-2" height="48">{{((index-1)*5)+key}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<style scoped lang="scss">
    #illustrationStart {
        width: 30%;
        // height: 400px;
    }

    .text-gan {
        color: #833030;
    }

    .panel-question {
        background-color: #f0f0f0;
        border-radius: 8px;
    }

    .subtitle-badge {
        background-color: #fad4d4;
        color: #833030;
        border: 1px solid #833030;
    }
</style>

<script>
    // @ is an alias to /src
    // import HelloWorld from '@/components/HelloWorld.vue'

    export default {
        name: 'TestKecermatanPage',
        //   components: {
        //     HelloWorld
        //   }
    }
</script>