<template>
    <div>
         <ProgressBarChooseProgramComponent />
        <ChooseSubProgramComponent />
    </div> 
</template>

<script>
    // @ is an alias to /src
    import ProgressBarChooseProgramComponent from '@/components/ProgressBarChooseProgramComponent.vue'
    import ChooseSubProgramComponent from '@/components/ChooseSubProgramComponent.vue'

    export default {
        name: 'ChooseSubProgramPage',
        components: {
            ProgressBarChooseProgramComponent,
            ChooseSubProgramComponent,
        },
        data() {
            return {
                text: "Ini adalah sebuah text"
            }
        }
    }
</script>
