<template> 
    <div>
        <ProgressBarChooseProgramComponent />
         <ChooseProgramComponent/>
    </div>
</template>

<script>
    // @ is an alias to /src
    import ProgressBarChooseProgramComponent from '@/components/ProgressBarChooseProgramComponent.vue'
    import ChooseProgramComponent from '@/components/ChooseProgramComponent.vue'

    export default {
        name: 'ChooseProgramPage',
        components: {
            ProgressBarChooseProgramComponent,
                ChooseProgramComponent
        },
        data() {
            return {
                text: "Ini adalah sebuah text"
            }
        }
    }
</script>