<template>
    <SidebarGanComponent>
        <DashboardPembayaranComponent/>
    </SidebarGanComponent> 
</template>

<script>
    // @ is an alias to /src
   
    import DashboardPembayaranComponent from '../components/DashboardPembayaranComponent.vue'
    import SidebarGanComponent from '../components/SidebarGanComponent.vue'

    export default {
        name: 'DashboardPembayaran',
        components: {
        DashboardPembayaranComponent,
        SidebarGanComponent
},
        data() {
            return {
                text: "Ini adalah sebuah text"
            }
        }
    }
</script>