<template>
    <LoginComponent />  
</template>

<script>
    // @ is an alias to /src
    import LoginComponent from '@/components/LoginComponent.vue'

    export default {
        name: 'LoginPage',
        components: {
            LoginComponent
        },
        data() {
            return {
                text: "Ini adalah sebuah text"
            }
        }
    }
</script>