<template>
    <RegisterComponent /> 
</template>

<script>
    // @ is an alias to /src

    import RegisterComponent from '@/components/RegisterComponent.vue'

    export default {
        name: 'RegisterPage',
        components: {
            RegisterComponent
        },
        data() {
            return {
                text: "Ini adalah sebuah text"
            }
        }
    }
</script>