<template>
    <!-- <ProgressBarChooseProgramComponent /> -->
    <SuccessRegisterComponent />
</template>

<script>
    // @ is an alias to /src
    import ProgressBarChooseProgramComponent from '@/components/ProgressBarChooseProgramComponent.vue'
    import SuccessRegisterComponent from '@/components/SuccessRegisterComponent.vue'

    export default {
        name: 'SuccessRegisterPage',
        components: {
            ProgressBarChooseProgramComponent,
            SuccessRegisterComponent
        },
        data() {
            return {
                text: "Ini adalah sebuah text"
            }
        }
    }
</script>