<template>
   <TestComponent/>
</template>

<script>
    
    
import TestComponent from '../components/TestComponent.vue'

    export default {
        name: 'test',
        components: {
        TestComponent
},
        data() {
            return {
                text: "Ini adalah sebuah text"
            }
        }
    }
</script>