<template>
    <section id="chooseSubProgramComponent">
        <div class="container" id="containerSubProComp">
            <div class="row">
                <h1 style="font-weight: 700" class="text-center">
                    Pilih Program Kamu!
                </h1>
            </div>
            <div class="row">
                <label v-for="subprogram in subprograms" :key="subprogram.id" class="col-12 col-md-4 mt-4"
                    for="card-one" v-on:click="greet(subprogram.id)">
                    <div class="card border border-dark text-left">
                        <div class="ribbonGAN">
                            <span>{{ subprogram.period }} Bulan</span>
                        </div>
                        <div class="px-4 py-2 w-100">
                            <img src="asset/img/image 10.png" alt="" id="iconInstansi" />
                            <div class="w-100 d-flex justify-content-between align-items-center">
                                <h5 class="card-title" style="font-size: 22px; font-weight: 800">
                                    {{ subprogram.name }}
                                </h5>
                                <p class="card-subtitle">12XPertemuan</p>
                            </div>
                        </div>
                        <div class="card-body">
                            <table class="w-100 border border-0 border-top border-bottom">
                                <thead>
                                    <th>12 Mata Pelajaran</th>
                                </thead>
                                <tbody style="font-size: 9.5px">
                                    <tr>
                                        <td>
                                            <li>Bahasa Indonesia</li>
                                        </td>
                                        <td>
                                            <li>Kimia</li>
                                        </td>
                                        <td>
                                            <li>Kebudayaan</li>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <li>Bahasa Inggris</li>
                                        </td>
                                        <td>
                                            <li>Sosiologi</li>
                                        </td>
                                        <td>
                                            <li>Kewirausahaan</li>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <li>PKN</li>
                                        </td>
                                        <td>
                                            <li>Pen. Agama</li>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <li>Matematika</li>
                                        </td>
                                        <td>
                                            <li>Pen. Jasmani</li>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <li>Biologi</li>
                                        </td>
                                        <td>
                                            <li>Psikologi</li>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="w-100 d-flex pt-3 justify-content-center">
                                <strong>
                                    <h4 class="mpa-h4-headline">Rp 50.000.000</h4>
                                </strong>
                            </div>
                        </div>
                    </div>
                </label>
            </div>

            <!-- <div class="row">
                <label v-for="subprogram in subprograms" :key="subprogram.id" class="col-12 col-md-4 mt-4"
                    for="card-one" v-on:click="greet(subprogram.id)">
                    <div class="card border border-dark text-left">
                        <div class="ribbonGAN">
                            <span>3 Bulan</span>
                        </div>
                        <div class="px-4 py-2 w-100">
                            <img src="asset/img/image 10.png" alt="" id="iconInstansi" />
                            <div class="w-100 d-flex justify-content-between align-items-center">
                                <h5 class="card-title" style="font-size: 22px; font-weight: 800">
                                    {{ subprogram.name }}
                                </h5>
                                <p class="card-subtitle">12XPertemuan</p>
                            </div>
                        </div>
                        <div class="card-body">
                            <table class="w-100 border border-0 border-top border-bottom">
                                <thead>
                                    <th>12 Mata Pelajaran</th>
                                </thead>
                                <tbody style="font-size: 9.5px">
                                    <tr>
                                        <td>
                                            <li>Bahasa Indonesia</li>
                                        </td>
                                        <td>
                                            <li>Kimia</li>
                                        </td>
                                        <td>
                                            <li>Kebudayaan</li>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <li>Bahasa Inggris</li>
                                        </td>
                                        <td>
                                            <li>Sosiologi</li>
                                        </td>
                                        <td>
                                            <li>Kewirausahaan</li>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <li>PKN</li>
                                        </td>
                                        <td>
                                            <li>Pen. Agama</li>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <li>Matematika</li>
                                        </td>
                                        <td>
                                            <li>Pen. Jasmani</li>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <li>Biologi</li>
                                        </td>
                                        <td>
                                            <li>Psikologi</li>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="w-100 d-flex pt-3 justify-content-center">
                                <strong>
                                    <h4 class="mpa-h4-headline">Rp 36.000.000</h4>
                                </strong>
                            </div>
                        </div>
                    </div>
                </label>
            </div>
            <h1>{{ choosenSubProgram }} {{ duration }}</h1> -->

            <div class="row pt-5 d-flex justify-content-center my-4">
                <div class="d-block d-md-flex justify-content-center">
                    <span class="px-4">
                        <router-link to="http://localhost:8080/choose-program" type="button"
                            class="btn btn-outline-danger btn-sm mb-2 fw-500" style="
                padding: 15px 71px;
                border-radius: 8px;
                border-color: #8d191c;
                background-color: white;
                color: #8d191c;
                font-size: 16px;
              " id="buttonBackGan">Kembali</router-link>
                    </span>

                    <form @submit.prevent="postSubProgram">
                        <button type="submit" class="btn btn-danger btn-sm mb-2 fw-500" id="buttonLanjutGAN" style="
                padding: 15px 78px;
                border-radius: 8px;
                background-color: #8d191c;
                color: white;
                font-size: 16px;
                margin-left: 12px;
              ">
                            Lanjut
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    import axios from "axios";
    import {
        useCookies
    } from "vue3-cookies";

    export default {
        name: "ChooseSubProgramComponent",
        setup() {
            const {
                cookies
            } = useCookies();
            return {
                cookies,
            };
        },
        data() {
            return {
                subprograms: [],
                choosenSubProgram: "",
                duration: "",
            };
        },
        created() {
            this.getSubProgram();
        },
        methods: {
            greet: function (event) {
                if (event) {
                    this.choosenSubProgram = event;
                    console.log(this.choosenSubProgram);
                }
            },
            pickDuration: function (event) {
                // this.choosenSubProgram = this.choosenSubProgram
                this.duration = event;
                console.log(this.duration + " " + this.choosenSubProgram);
            },
            async getSubProgram() {
                try {
                    let token = this.cookies.get("X-GAN-TOKEN");
                    let program = this.cookies.get("XPRID");
                    console.log("Bearer " + token);
                    const response = await axios.get("/programstudy/" + program, {
                        headers: {
                            Authorization: "Bearer " + token,
                        },
                    });
                    this.subprograms = response.data.data.running_program_registered;
                    console.log(this.subprograms)
                    console.log(response.data.data);
                } catch (error) {
                    this.$router.push('/login');
                }
            },
            async postSubProgram() {
                try {
                    let token = this.cookies.get("X-GAN-TOKEN");
                    axios.post(
                        "/programstudy/", {
                            programs_id: this.choosenSubProgram,
                            period: this.duration,
                        }, {
                            headers: {
                                Authorization: "Bearer " + token,
                            },
                        }
                    );
                    this.$router.push("/kecermatan");
                } catch (error) {
                    console.log(error);
                }
            },
        },
    };
</script>
<style lang="scss">
    #ButtonNextSUB {
        width: 200px;
    }

    .ribbonGAN {
        //   margin: 100px auto;
        width: 110px;
        height: 110px;
        display: block;
        position: relative;
        overflow: hidden;
        float: right !important;
        margin-right: -305px;
        margin-bottom: -100px;
    }

    .ribbonGAN span {
        width: 160px;
        height: 35px;
        top: 20px;
        right: -40px;
        position: absolute;
        display: block;
        background: #8d191c;
        color: #333;
        font-family: arial;
        font-size: 18px;
        color: white;
        text-align: center;
        line-height: 34px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
    }

    #chooseSubProgramComponent {
        img#iconInstansi {
            height: 24px !important;
            margin-bottom: 8px;
        }

        .card-body {
            padding: 0px !important;
        }

        .img {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            overflow: hidden;
        }

        .card {
            margin-top: 1rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            border: 2px solid white;
            border-radius: 0.8rem;
            position: relative;
            cursor: pointer;
            transition: 200ms ease-in-out transform;
        }

        .check-btn {
            position: absolute;
            top: -0.4%;
            right: -0.1%;
            background-color: white;
            width: 1.5rem;
            height: 1.6rem;
            display: grid;
            place-items: center;
            border-radius: 0.5rem;
        }

        .fa-check {
            color: #fff;
            background-color: #fff;
        }

        .card:hover {
            transform: scale(1.02);
        }

        .card:active {
            transform: scale(0.98);
        }

        input[id="card-one"]:checked~label[for="card-one"] .card,
        input[id="card-two"]:checked~label[for="card-two"] .card,
        input[id="card-three"]:checked~label[for="card-three"] .card {
            border-color: #8d191c;
        }

        input[id="card-one"]:checked~label[for="card-one"] .card .check-btn,
        input[id="card-two"]:checked~label[for="card-two"] .card .check-btn,
        input[id="card-three"]:checked~label[for="card-three"] .card .check-btn {
            background-color: #8d191c;
        }

        input[id="card-one"]:checked~label[for="card-one"] .card .fa-check,
        input[id="card-two"]:checked~label[for="card-two"] .card .fa-check,
        input[id="card-three"]:checked~label[for="card-three"] .card .fa-check {
            background-color: #8d191c;
        }

        #card-one,
        #card-two,
        #card-three {
            display: none;
        }

        body {
            background: #e5e5e5;
            font-family: "Inter";
        }

        input[type="radio"] {
            appearance: none;
        }

        input[type="radio"]+label {
            cursor: pointer;
            position: relative;
            padding-left: 30px;
            line-height: 20px;
        }

        input[type="radio"]+label::before {
            content: "";
            display: inline-block;
            width: 20px;
            aspect-ratio: 1;
            border: 1px solid #8d191c;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            opacity: 1;
            transition: all 0.3s;
        }

        input[type="radio"]+label::after {
            content: "";
            display: inline-block;
            width: 10px;
            aspect-ratio: 1;
            border: 1px solid #8d191c;
            background: #8d191c;
            border-radius: 50%;
            position: absolute;
            left: 5px;
            top: 50%;
            transform: translateY(-50%);
            opacity: 0;
            transition: all 0.3s;
        }

        input[type="radio"]:checked+label::after {
            opacity: 1;
        }
    }

    @media only screen and (max-width: 600px) {
        #buttonLanjutGAN {
            margin-left: 80px !important;
        }

        #chooseSubProgramComponent {
            padding: 2px !important;
        }

        #ButtonNextSUB {
            margin-left: 80px;
            width: 70px !important;
        }

        .ribbonGAN {
            //   margin: 100px auto;
            width: 110px;
            height: 110px;
            display: block;
            position: relative;
            overflow: hidden;
            float: right !important;
            margin-right: -253px;
            margin-bottom: -100px;
        }

        .ribbonGAN span {
            width: 160px;
            height: 35px;
            top: 20px;
            right: -40px;
            position: absolute;
            display: block;
            background: #8d191c;
            color: #333;
            font-family: arial;
            font-size: 18px;
            color: white;
            text-align: center;
            line-height: 34px;
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
        }

        #pemilihanDurasi {
            margin-bottom: -5px !important;
            margin-top: -50px !important;
        }

        #untukProgram {
            width: 95px;
            margin-top: 5px;
            margin-right: -5px !important;
        }

        #untukProgram1 {
            margin-top: -37px;
            width: 95px;
        }

        #pilih>h1 {
            width: 20rem;
            margin-left: -3rem;
            margin-top: -20rem;
        }

        .form-check {
            margin-top: -3rem;
            margin-left: 1.7rem;
        }

        #radio1,
        #radio2 {
            margin-left: -2rem;
            margin-top: 0.2rem;
        }

        #text1,
        #text2 {
            position: absolute;
            margin-top: -0.1rem;
        }

        #tombol1 {
            position: absolute;
            top: 76rem;
            margin-left: 5rem;
            width: 55%;
        }

        #buttonLanjut {
            margin-left: 1px !important;
        }
    }
</style>