<template>
    <div>
         <section id="chooseProgram">
        <div class="row pt-2">
            <div class="col-12 text-center">
                <h1 class="pilih fw-700 fs-1">Pilih Program Kamu!</h1>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <!-- <h1>{{choosenProgram}}</h1> -->
                <input type="radio" name="card" id="card-one" />
                <input type="radio" name="card" id="card-two" />
                <input type="radio" name="card" id="card-three" />
                <label v-for="program in programs" :key="program.id" :data-id="program.id"
                    class="col-12 d-md-flex justify-content-center col-md-4 mt-4 btnProgram" v-on:click="greet(program.id)">
                    <div class="card" id="">
                        <span class="check-btn"><i class="fas fa-check"></i></span>
                        <div class="img">
                            <img class="h-100" src="asset/img/polri.png" alt="" />
                        </div>
                        <h2 class="title fw-bold fs-5" id="nameProgramGan">{{ program.name }}</h2>
                    </div>
                </label>
            </div>
        </div>


        <div class="row pt-5 d-flex justify-content-center my-4">
            <div class="d-block d-md-flex justify-content-center  ">
                <span class="px-4" >
                        <router-link to="http://localhost:8080/register" type="button"  class="btn btn-outline-danger btn-sm mb-2 fw-500"
                    style="padding: 15px 71px; border-radius: 8px; border-color: #8d191c; background-color: white; color: #8d191c; font-size: 16px" id="buttonBackGan">Kembali</router-link>
                </span>
                <span clas="px-4">
                    <router-link to="/choose-subprogram" type="button" class="btn btn-danger btn-sm mb-2 fw-500"
                    style="padding: 15px 78px; border-radius: 8px; background-color: #8d191c; color: white; font-size: 16px" id="buttonLanjutGan">
                    Lanjut</router-link>
                </span>
            </div>
        </div>
    </section>
    </div>
</template>

<script>
    import axios from 'axios';
    import {
        useCookies
    } from "vue3-cookies";
    // import AES from 'AES';

    export default {
        name: "ChooseProgramComponent",
        setup() {
            const {
                cookies
            } = useCookies();
            return {
                cookies
            };
        },
        data() {
            return {
                programs: '',
                choosenProgram: ''
            }
        },
        created() {
            this.getProgram();
        },
        methods: {
            greet: function (event) {
                if (event) {
                    this.choosenProgram = event
                    // console.log(AES.encrypt(this.choosenProgram, "gan").toString())
                    this.cookies.set("XPRID", this.choosenProgram );
                }
            },
            async getProgram() {
                try {
                    let token = this.cookies.get("X-GAN-TOKEN");
                    // console.log("Bearer " + token);
                    const response = await axios.get('/programstudy', {
                        headers: {
                            "Authorization": "Bearer " + token
                        }
                    });
                    this.programs = response.data.data
                    // console.log(this.program)
                } catch (error) {
                    console.log(error)
                    // this.$router.push('/login');
                }
            }
        }
    }
</script>

<style lang="scss">
    #nameProgramGan{
        width:130px;
        height: 50px;
        margin-left: 30px !important;
    }
    #chooseProgram {
        overflow-x: hidden;
        .img {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            
        }

        .img img {
            // width: 100%;
            height: 100%;
            background-size: cover;
            user-select: none;
        }

        .card {
            /* background-color: burlywood; */
            width: 255px;
            height: 255px;
            margin: 0 3rem;
            padding: 1rem 2rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            border: 2px solid white;
            border-radius: 0.8rem;
            position: relative;
            cursor: pointer;
            transition: 200ms ease-in-out transform;
        }
        .check-btn {
            position: absolute;
            top: -1%;
            right: -1%;
            background-color: white;
            width: 1.5rem;
            height: 1.6rem;
            display: grid;
            place-items: center;
            border-radius: 0.2rem;
        }

        .fa-check {
            color: #fff;
            background-color: #fff;
        }

        .title {
            margin: 1rem 0;
        }

        .card:hover {
            transform: scale(1.02);
        }

        .card:active {
            transform: scale(0.98);
        }
        input[id='card-one']:checked~label[for='card-one'] .card,
        input[id='card-two']:checked~label[for='card-two'] .card,
        input[id='card-three']:checked~label[for='card-three'] .card {
            border-color: #8d191c;
        }
        input[id='card-one']:checked~label[for='card-one'] .card .check-btn,
        input[id='card-two']:checked~label[for='card-two'] .card .check-btn,
        input[id='card-three']:checked~label[for='card-three'] .card .check-btn {
            background-color: #8d191c;
        }
        input[id='card-one']:checked~label[for='card-one'] .card .fa-check,
        input[id='card-two']:checked~label[for='card-two'] .card .fa-check,
        input[id='card-three']:checked~label[for='card-three'] .card .fa-check {
            background-color: #8d191c;
        }

        input {
            display: none;
        }
        /* Section Card */

        #progressbar {
            margin-bottom: 20px;
            overflow: hidden;

            text-align: center;
            margin-top: 20px;
        }

        #progressbar li {
            list-style-type: none;
            color: #8D191C;
            font-size: 14px;
            width: 33.33%;
            float: left;
            position: relative;
        }

        #progressbar li:before {
            width: 20px;
            line-height: 20px;
            display: block;
            font-size: 10px;
            color: #333;
            background: #8D191C;
            border-radius: 3px;
            margin: 0 auto 5px auto;
        }

        #progressbar li:after {
            width: 100%;
            height: 2px;
            background: #8D191C;
            position: absolute;
            left: -50%;
            top: 9px;
        }

        #progressbar li:first-child:after {

            content: none;
        }

        #progressbar li.active:before,
        #progressbar li.active:after {
            background: #27AE60;
            color: #8D191C;
        }
        @media screen and (max-width: 600px) {
          #buttonBackGan{
              margin-right: -90px !important;
              margin-left: 70px;
            //   margin-bottom:150px !important;
         }
         #buttonLanjutGan{
             margin-left: 95px !important;
         }
        }
    }
</style>