<template>
<div class="card">
    <section id="login">
        <!-- <div class="container-fluid"> -->
        <div class="row m-0 p-0">
            <div class="col-6 p-0 d-none d-md-block" id="gambarOneId">
                <figure class="w-100 overflow-hidden" style="height: 100vh; overflow:hidden;">
                    <img src="asset/img/frame127.jpg" class="w-100 h-100" style="object-fit:cover;" alt="">
                </figure>
            </div>
            <div class="col-6" id="gambarOneId">
                <div class="w-100" id="formInputLogin">
                    <figure id="logo" class="w-100 d-flex justify-content-center mb-3">
                        <!-- <img src="asset/img/logo-gan.png" alt="" style="width:80px;"> -->
                    </figure>
                    <h2 class="text-center" id="psiKotesttitle"> Masuk Ke Psikotest</h2>
                    <form @submit.prevent="login">
                        <div class="mb-2">
                            <label class="mpa-main-bold text-center" id="oneText">Email</label>
                            <input type="email" v-model="email" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp" placeholder="Masukan Email">
                        </div>
                        
                        <label class="label">Password</label>
                        <div class="field has-addons">
                            <div class="control is-expanded">   
                                <input v-if="showPassword" type="text" class="form-control" v-model="password" id="faEyeID" />
                                <input v-else type="password" class="form-control" v-model="password">
                            </div>

                            <div class="control" >
                                <div class="button" @click="toggleShow" id="buttonToggle">
                                    <span class="icon is-small is-right">
                                        <i  :class="{ 'fa fa-eye': showPassword, 'fa fa-eye': !showPassword }"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <label>Lupa Password?<router-link to="/reset" class="underliness" id="rest-1"> Reset
                                Password</router-link></label>
                        <br />
                        <button class="btn mpa-btn-primary w-100 text-white" id="btnSubmitDD">Submit</button> 
                        <br/>
                        <label>Belum Memiliki Akun?<router-link to="/reset" class="underliness" id="rest-1"> Register
                                </router-link></label>
                    </form>
                </div>
            </div>
        </div>

        <!-- </div> -->
    </section>
    </div>
</template>

<script>
    import axios from 'axios';
    import {
        useCookies
    } from "vue3-cookies";

    export default {
        name: "LoginComponent",
        setup() {
            const {
                cookies
            } = useCookies();
            return {
                cookies
            };
        },
        data() {
            return {
                email: [],
                password: null,
                showPassword:false,
            }
        },
        computed: {
            buttonLabel(){
                return (this.showPassword) ? "Hide" : "Show";
            }
        },
        methods: {
            async login() {
                try {
                    var data = await axios.post(linkAuth + '/login', {
                        email: this.email,
                        password: this.password,
                    });
                    // console.log("data");
                    this.cookies.set("X-GAN-TOKEN", data.data.token);
                    this.$router.push('/kecermatan');
                } catch (error) {
                    console.log(error)
                }
            },
             showFeedback({
                suggestions,
                warning
            }) {
                console.log(suggestions)
                console.log(warning)
            },
            showScore(score) {
                console.log(score)
            },
            toggleShow() {
                this.showPassword = !this.showPassword;
                console.log()
            }
        }
    }
</script>

<style lang="scss">
  #psiKotesttitle{
      color: #8D191C;
      font-weight: bold;
  }
  #buttonToggle{
      margin-left: 600px !important;
      margin-top: -36px;
      width: 35px;
      height: 35px;
      border: none !important;
      background-color: white;
   }
    .spanField {
        position: absolute;
        right: 185px;
        transform: translate(0, -50%);
        top: 373px;
        cursor: pointer;
    }

    #rest-1 {
        color: #8D191C !important;
        font-weight: 700;
    }

    #exampleInputEmail1 {
        width: 638px;
        height: 38px;
    }

    @media only screen and (max-width: 600px) {
        #exampleInputEmail1 {
            width: 346px;
            height: 38px;
        }
    }
</style>