<template>
    <section id="progressBarComponent">
        <div class="container py-3">
            <ul id="progressbarLI" class="nav justify-content-between" >
            <li>
                <figure  >
                    <img id="gambar-Gambar" src="asset/img/Frame 138.svg" />
                    <p class="mt-2">Pilih Program</p>
                </figure> 
                    
            </li>
            <li >
                <img id="gambarIDh" src="asset/img/Frame 139.svg" />
                <p class="mt-2">Pilih SubProgram</p>
            </li>
            <li>
                <img id="gambar00Gan" src="asset/img/Frame 140.svg" />
                <p class="mt-2">Pembayaran</p>
            </li>
            </ul>
        </div>
    </section>
</template>

<script>
    export default {
        name: "CategoryPage"
    }
</script>

<style lang="scss">
    .object-fit {
        object-fit: cover;
    }
     #gambar-Gambar{
                margin-left: 30px !important;
            }
            #gambarIDh{
                margin-left: 40px !important;
            }
            #gambar00Gan{
                margin-left: 30px !important;
            }
    #progressBarCompoenent {
        overflow-x: hidden;
        #progressbarLI {
            margin-bottom: 30px;
            overflow: hidden;
            text-align: center;
            margin-top: 4rem;
        }

        #progressbarLI li {
            list-style-type: none;
            color: #8d191c;
            font-size: 14px;
            width: 33.33%;
            float: left;
            position: relative;
        }

        #progressbarLI li:before {
            width: 20px;
            line-height: 20px;
            display: block;
            font-size: 10px;
            color: #333;
            background: #8d191c;
            border-radius: 3px;
            margin: 0 auto 5px auto;
        }

        #progressbarLI li:after {
            width: 100%;
            height: 2px;
            background: #8d191c;
            position: absolute;
            left: -50%;
            top: 9px;
        }

        #progressbarLI li:first-child:after {
            content: none;
        }
         
        #progressbarlI li.active:before,
        #progressbarLI li.active:after {
            background: #27ae60;
            color: #8d191c;
        }
    }
        @media screen and(max-width:600px){
            #gambar-Gambar{
                margin-left: 35px !important;
            }
            #gambarIDh{
                margin-left: 40px !important;
            }
            #gambar00Gan{
                margin-left: 30px !important;
            }
        }
    
</style>