<template>
    <section id="register">
        <div class="row m-0 py-2">
            <div class="col-6 d-none d-md-block p-0">
                <router-link to="/">
                    <figure class="w-100 overflow-hidden" style="height: 100vh; overflow:hidden;">
                        <img src="asset/img/frame127.jpg" class="w-100 h-100" style="object-fit:cover;" id="logo">
                    </figure>
                </router-link>
            </div>
            <div class="col-12 col-md-6 text-left">
                <div class="w-100" id="formInputGAN">
                    <figure id="logo" class="w-100 d-flex justify-content-center">
                        <img src="asset/img/logo-gan.png" alt="" style="width:80px;">
                    </figure>
                    <h2 class="mpa-h2-headline text-left" id="academyRegister">Gabung Ke Academy</h2>
                    <form @submit.prevent="register">
                        <div class="mb-2">
                            <label class="mpa-main-bold text-left" id="text-1">Name</label>
                            <input type="text" v-model="name" class="form-control w-100" id="exampleInputEmail1"
                                aria-describedby="emailHelp" placeholder="Masukan Nama Lengkap">
                        </div>
                        <div class="mb-2">
                            <label class="mpa-main-bold text-left" id="text-1">Username</label>
                            <input type="text" v-model="username" class="form-control w-100" id="exampleInputEmail1"
                                aria-describedby="emailHelp" placeholder="Masukan Username">
                        </div>
                        <div class="mb-2">
                            <label class="mpa-main-bold text-left" id="text-1">Email</label>
                            <input type="email" v-model="email" class="form-control w-100" id="exampleInputEmail1"
                                aria-describedby="emailHelp" placeholder="Masukan Email">
                        </div>
                        <div class="mb-2">
                            <label class="mpa-main-bold text-left" id="text-1">Phone</label>
                            <input type="text" v-model="phone" class="form-control w-100" id="exampleInputEmail1"
                                aria-describedby="emailHelp" placeholder="Masukan Nomor Handphone">
                        </div>
                        <div class="mb-2">
                            <label class="mpa-main-bold text-left" id="twoText">Password</label>
                            <div class="position-relative">
                                <input type="password" v-model="password" class="form-control inputPass" id="password"
                                    placeholder="Masukan Password">
                                <span id="eyeParent" @click="togglePassword"><i
                                        class="fa fa-fw fa-eye field_icon toggle-password"></i></span>
                            </div> 

                        
                        </div>

                        <div class="mb-2">
                            <label class="mpa-main-bold text-left" id="twoText">Konfirmasi Password</label>
                            <div class="position-relative">
                                <input type="password" v-model="confirmPassword" class="form-control inputPass"
                                    id="confirmPassword" placeholder="Konfirmasi Password">
                                <span id="eyeParent" @click="togglePassword"><i
                                        class="fa fa-fw fa-eye field_icon toggle-password"></i></span>

                            </div>
                        </div>

                        <button id="buttonRegister" class="btn mpa-btn-primary text-white w-100">Daftar</button>
                    </form>
                    <label class="py-6">Sudah Punya Akun?<router-link to="/login" class="underliness" id="titlemasukId">
                            Masuk</router-link></label>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    import axios from 'axios';
    import {
        useCookies
    } from "vue3-cookies";

    export default {
        name: "RegisterComponent",
        setup() {
            const {
                cookies
            } = useCookies();
            return {
                cookies
            };
        },
        data() {
            return {
                name: '',
                username: '',
                email: '',
                phone: '',
                password: '',
                confirmPassword: ''
            }
        },

        methods: {
            togglePassword(){
                const togglePassword = document.querySelector('#togglePassword');
                const password = document.querySelector('#id_password');
 
                togglePassword.addEventListener('click', function (e) {
                 // toggle the type attribute
                const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
                password.setAttribute('type', type);
                // toggle the eye slash icon
                this.classList.toggle('fa-eye-slash');
                });
            },

            async register() {
                try {
                    var data = await axios.post('/student/register', {
                        name: this.name,
                        username: this.username,
                        email: this.email,
                        phone: this.phone,
                        password: this.password,
                    });
                    console.log(data)
                    this.cookies.set("X-GAN-TOKEN", data.data.token);
                    console.log("Bearer " + data.data.token);
                    axios.post('/S-register'), {
                        name: this.name
                    }, {
                        headers: {
                            'Authorization': 'Bearer ' + data.data.token
                        }
                    }
                    this.$router.push('/choose-program');
                } catch (error) {
                    console.log(error)
                }
            }
        }
    }
</script>

<style lang="scss">
    .form-wrapper {
        margin: 10rem auto;
        max-width: 30rem;
    }
</style>


