    <template>
        <section id="StartKecermatanPage">
            <div class="container py-5">
                <div class="row py-5 text-center d-flex flex-column justify-content-center align-items-center">
                    <figure id="illustrationStart">
                        <img src="asset/img/logo-gan.png" alt="" class="w-100 h-100 img-fit-cover">
                    </figure>
                    <h1 class="text-gan mpa-h1">Selamat Datang Para Pejuang</h1>
                    <h3>Test Kecermatan Garuda Abdi Negara</h3>
                    <br>
                    <span>Persiapkan diri anda untuk memulai test kecermatan, jika sudah klik tombol dibawah ini untuk
                        memulai test</span>
                    <br>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn mpa-btn-primary text-white text-uppercase w-25" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                        Baca Intruksi test
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                        tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-scrollable">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="staticBackdropLabel">Intruksi Test</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam nihil ab iusto vero sed beatae animi fuga quia alias omnis quam odio enim dignissimos facere, autem eius quos unde soluta itaque numquam!
                                <br>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Non dolorem nemo cum nulla fuga in molestias rem hic quidem enim nobis impedit minima, quisquam, repellat consequatur et obcaecati. Cupiditate, amet? Inventore, hic.
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="button" data-bs-dismiss="modal" v-on:click="nextStep" class="btn mpa-btn-primary text-white">Mulai Test</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!-- <router-link to="http://localhost:8080/test" id="ButtonNextTest"
                        class="mpa-btn mpa-btn-primary w-25 text-center">Klik untuk Mulai!</router-link> -->
                </div>
            </div>
        </section>
    </template>

    <style lang="scss">
        #nextTestID {
            text-decoration-line: none;
            font-size: medium !important;
            ;
        }

        #illustrationStart {
            width: 30%;
            // height: 400px;
        }

        .text-gan {
            color: #833030;
        }

        #ButtonNextTest {
            text-decoration-line: none;
        }


        @media only screen and (max-width: 600px) {
            #ButtonNextTest {
                width: 250px !important;
                text-decoration-line: none;
            }
        }
    </style>

    <script>
        // @ is an alias to /src
        // import HelloWorld from '@/components/HelloWorld.vue'
        import axios from 'axios';
        import {
            useCookies
        } from "vue3-cookies";
        export default {
            name: 'StartKecermatan',
            data() {
                return {
                    listExam: '',
                    questions: '',
                    indexExam: 0,
                    indexQuestion: 0,
                }
            },
            setup() {
                const {
                    cookies
                } = useCookies();
                return {
                    cookies
                };
            },
            methods:{
                async nextStep(){
                    try {
                        let token = this.cookies.get('X-GAN-TOKEN');
                        //ambil 10 exam atau 10 toples
                        const listExam = await axios.get(linkPsikotest + '/exam/tes-kecermatan/PSI02032022', {
                            headers: {
                                "Authorization": "Bearer " + token
                            }
                        });
                        // console.log(listExam);
                        this.listExam = listExam.data.data;
                        // console.log(this.listExam[this.indexExam]);
                        this.cookies.set('list-exam', this.listExam);

                        //disini kita ambil satu exam atau satu toples buat dapetin 50 question atau gundu
                        const questions = await axios.get(linkPsikotest + '/exam/'+this.listExam[this.indexExam], {
                            headers: {
                                "Authorization": "Bearer " + token
                            }
                        });
                        this.questions = questions.data.question;
                        this.cookies.set('index-exam', this.indexExam);
                        this.cookies.set('index-question', this.indexQuestion);
                        localStorage.listQuestion = JSON.stringify(questions.data.question);
                        // console.log(localStorage.listQuestion);
                        
                        
                        this.$router.push("/test");
                        
                    } catch (error) {
                        
                    }
                }
            }
            //   components: {
            //     HelloWorld
            //   }
        }
    </script>