<template>
    <div class="row mb-4">
        <div class="col-12 text-center mt-3 p-3" id="check" style="margin-top: 96px;">
            <img src="asset/img/check.svg" alt="" style="background: #8D191C; border-radius: 100px;">
        </div>
        <div class="col-12 text-center mt-3" id="title">
            <h1>Selamat!</h1>
        </div>
        <div class="col-12 text-center p-2" id="deskripsi">
            <p style="line-height: 38px; text-align: center; font-size: 24px; margin: 30px;">Akun Academy kamu sudah
                berhasil dibuat, Proses pembelajaran kamu saat ini sedang kami persiapkan. Selengkapnya akan kami
                kabarkan via email</p>
        </div>
        <div class="col-12 text-center p-2" id="button">
            <div class="button">
                <router-link to="http://localhost:8080/dashboard-utama" class="btn"
                    style="background:#8D191C ; color: #fff; font-size: 16px;">Lakukan
                    Pembayaran</router-link>
            </div>
        </div>
        <div class="col-12 text-center p-2" id="atau">
            <h7>atau</h7>
        </div>
        <div class="col-12 text-center p-2" id="btn-text">
            <div class="button-text">
                <router-link to="http://localhost:8080/dashboard-trial" class="btn" style="color: #8D191C;">Bayar Nanti
                </router-link>
            </div>
        </div>
  <button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-black" id="showOpenModal">Wajib Dibaca Sebelum Kerjakaan Soal !!!</button>

  <div id="id01" class="w3-modal">
    <div class="w3-modal-content">
      <div class="w3-container" id="modalCardO1">
        <span id="cardModaled" onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display-topright">&times;</span>
        <p id="borderOd">Some text. Some text. Some text.</p>
      </div>
    </div>
  </div>
        
    </div>


</template>

<script>
    export default {
        name: "SuccessRegisterComponent"
    }
</script>

<style lang="scss">
   #modalCardO1{
       border: 2px solid black;
       border-radius: 8px;
       width: 300px;
       background: gainsboro;
   }
    .object-fit {
        object-fit: cover;
    }
    
    #showOpenModal{
        width: 400px;
        height: 50px;
        color:yellow;
        background-color: #711416;
        border-radius: 8px;
        margin-left: 100px;
        font-size: large;
    }
</style>