<template>
    <div class="container">
        <form>
            <label for="fname">First name:</label><br>
            <input type="text" id="fname" name="fname"><br>
            <label for="lname">Last name:</label><br>
            <input type="password" id="lname" name="lname">
        </form>
    </div>
</template>
<script>
    export default {
        name = 'test'
    }
</script>