<template>
    <section id="StartKecermatanPage">
        <div class="container py-5">
            <div class="row">
                <div class="col-12">
                    <h1 class="gan-text-heading text-gan">Test Psikotest Akademik</h1>
                    {{ kecermatans.id }} {{ kecermatans.title }}
                </div>
                <div class="col-12 col-md-8">
                    <form @submit.prevent="kecermatan">
                        <div id="kecermatan"></div>
                    </form>
                    <div class="p-3 border rounded subtitle-badge fw-bold mb-3">Soal Test Kecermatan</div>

                    <div class="p-3 border mb-3 rounded text-center">
                        <div id="timePengerjaan">Waktu Pengerjaan</div>
                        <span id="dashTimer">
                            <h1>--</h1>
                        </span>
                        <span id="timeID" class="fw-bold mb-2">
                            <h1> 0{{ countDown }}</h1>
                        </span>
                    </div>
                    <div class="d-flex align-items-center">
                        <div class="question w-75" id="questionField">
                        </div>
                        <form action="" class="mx-5" method="get">
                            <div class="form-check my-3">
                                <input type="radio" id="option0" name="option" v-on:click="chooseAnswer('0')"
                                    class="custom-control-input option">
                                <label class="custom-control-label h3 text-danger" for="option0">A</label>
                            </div>
                            <div class="form-check my-3">
                                <input type="radio" id="option1" name="option" v-on:click="chooseAnswer('1')"
                                    class="custom-control-input option">
                                <label class="custom-control-label h3 text-danger" for="option1">B</label>
                            </div>
                            <div class="form-check my-3">
                                <input type="radio" id="option2" name="option" v-on:click="chooseAnswer('2')"
                                    class="custom-control-input option">
                                <label class="custom-control-label h3 text-danger" for="option2">C</label>
                            </div>
                            <div class="form-check my-3">
                                <input type="radio" id="option3" name="option" v-on:click="chooseAnswer('3')"
                                    class="custom-control-input option">
                                <label class="custom-control-label h3 text-danger" for="option3">D</label>
                            </div>
                            <div class="form-check my-3">
                                <input type="radio" id="option4" name="option" v-on:click="chooseAnswer('4')"
                                    class="custom-control-input option">
                                <label class="custom-control-label h3 text-danger" for="option4">E</label>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </section>
</template>

<script>
    import axios from 'axios';
    import {
        useCookies
    } from "vue3-cookies";

    export default {
        name: 'TestKecermatan',
        setup() {
            const {
                cookies
            } = useCookies();
            return {
                cookies
            };
        },
        data() {
            return {
                kecermatans: [],
                countDown: 5,
                exam: '',
                questions: '',
                indexExam: '',
                indexQuestion: '',
                nowQuestion: '',
                answer: [],
                fiftyAnswer: [],

            }
        },
        created() {

            this.getData();
            this.getkecermatan();
        },
        methods: {
            startTimer() {
                this.countDown = 5                    
            },
            async getkecermatan() {
                try {
                    $('#dashTimer').css('display', 'none');
                    $('#timeID').show();
                    $('#questionField').html('');
                    $('#questionField').append(this.questions[this.indexQuestion].question)
                    $('table').addClass('w-100')
                    
                    this.counterDownTimer();
                    // console.log(this.indexQuestion);
                } catch (error) {
                    console.log(error);
                }
            },
            async changeExam() {
                
                this.indexExam = parseInt(this.indexExam) + 1;
                if(this.indexExam >= 10){
                    this.$router.push("/selesai");
                }
                let token = this.cookies.get('X-GAN-TOKEN');

                let idExam = this.exam.split(',');
                // console.log(idExam[this.indexExam]);
                const questions = await axios.get(linkPsikotest+'/exam/' + idExam[this.indexExam], {
                    headers: {
                        "Authorization": "Bearer " + token
                    }
                });
                localStorage.listQuestion = JSON.stringify(questions.data.question);
                this.indexQuestion = 0;
                this.questions = JSON.parse(localStorage.listQuestion);
                this.resetTimer();
                $('input.custom-control-input').prop('checked', false);
                this.getkecermatan();


            },

            counterDownTimer() {
                if (this.countDown <= 0) {
                    setTimeout(() => {
                        // this.resetTimer()
                        // $('input.custom-control-input').prop('checked', false);
                        // this.indexQuestion = parseInt(this.indexQuestion) + 1;
                        // this.getkecermatan();
                         this.resetTimer()
                         this.changeExam()
                       
                        if (this.indexQuestion > 49) {
                            this.changeExam();
                        }
                    }, 1000)
                }
                if (this.countDown > 0) {
                    
                    setTimeout(() => {
                        this.countDown -= 1
                        this.startTimer()
                    }, 1000)
                    
                }
            },

            getData() {
                // $('#dashTimer').css('display', 'none');
                this.exam = this.cookies.get("list-exam");
                this.questions = JSON.parse(localStorage.listQuestion);
                this.indexExam = this.cookies.get("index-exam");
                this.indexQuestion = this.cookies.get("index-question");
                // this.indexExam = 9;
                // this.indexQuestion = 47;
            },
            resetTimer(){
                this.countDown = 60
            },
            startTimer(){
                if($('input.custom-control-input').is(':checked')){
                    // this.resetTimer()
                    $('input.custom-control-input').prop('checked', false);
                    this.indexQuestion = parseInt(this.indexQuestion) + 1;
                    this.getkecermatan()
                }else{
                    this.counterDownTimer()
                }

            },
            

            chooseAnswer: function (event) {
                if (event) {
                    // $('#dashTimer').show();
                    // $('#timeID').hide();
                    let idExam = this.exam.split(',');
                    let temp = {
                        "exam_id": idExam[this.indexExam],
                        "question_id": this.questions[this.indexQuestion].id,
                        "answer": event
                    }
                    let token = this.cookies.get('X-GAN-TOKEN');
                    // let kirim = axios.post(
                    //     "/exam/send-single-answer", {
                    //         answer: JSON.stringify(temp),
                    //     }, {
                    //         headers: {
                    //             "Authorization": "Bearer " + token,
                    //         },
                    //     }
                    // );
                    
                    this.answer.push(temp)
                    // this.getkecermatan();

                    if (this.indexQuestion == 0) {
          this.resetTimer();
          console.log("awal diklik");
        }


                    if (this.indexQuestion == 49) {
                        this.fiftyAnswer.push(this.answer);
                        this.answer = [];
                        console.log(this.fiftyAnswer[0]);
                        let kirim2 = axios.post(
                            "/exam/send-multi-answer", {
                                answer: JSON.stringify(this.fiftyAnswer[0]),
                            }, {
                                headers: {
                                    "Authorization": "Bearer " + token,
                                },
                            }
                        );
                        let grade = axios.get('/grade-single-exam/' + idExam[this.indexExam], {
                            headers: {
                                "Authorization": "Bearer " + token
                            }
                        })
                        console.log(kirim2);
                        this.changeExam();
                    }
                }
            },
        }
    }
</script>

<style scoped lang="scss">
    #timePengerjaan {
        font-size: x-large;
        font-weight: 700;
    }

    #timeID {
        font-size: x-large;
        color: #8D191C;
        font-weight: 800 !important;
    }

    #tableChoiceAnswer {
        margin-top: 40px;
    }

    #RadioA {
        width: 20px !important;
        height: 10px !important;
        border-radius: 100% !important;
        background: #5c0000 !important;
    }

    #classChoiceGan {
        margin-left: 30px;
    }


    #btnNextPrev {
        margin-top: 30px;
    }

    #buttonPrevues {
        width: 50px;
        height: 50px;
        border: 2px solid #8D191C;
        background: #8D191C;
        color: white;
        margin-right: 10px;
    }

    #buttonNext {
        width: 50px;
        height: 50px;
        border: 2px solid #8D191C;
        background: #8D191C;
        color: white;
    }

    .next {
        background-color: white;
        color: #8D191C;
        border: 2px solid grey;
        margin-left: 10px;
    }

    #illustrationStart {
        width: 255px;
    }

    .text-gan {
        color: white;
    }

    #buttonPaymentId {
        width: 410px !important;
        margin-right: 105px;
        text-decoration-line: none;
    }

    .panel-question {
        background-color: #EEEEEE;
        border-radius: 8px;
    }

    .subtitle-badge {
        background-color: #fad4d4;
        color: #5c0000;
        border: 1px solid #8D191C;
    }

    @media only screen and (max-width: 600px) {
        #StartKecermatanPage {
            margin-top: -70px;
        }

        #buttonPaymentId {
            width: 170px !important;
            margin-right: 65px;
            text-decoration-line: none;
            margin-top: 20px;
            margin-bottom: 100px;
        }

        #buttonPrevues {
            width: 50px;
            height: 50px;
            border: 2px solid #8D191C;
            background: #8D191C;
            color: white;
            margin-right: 90px;
        }

        #buttonNext {
            width: 50px;
            height: 50px;
            border: 2px solid #8D191C;
            background: #8D191C;
            color: white;
            margin-left: 100px;
        }
    }
</style>